
  <div class="row">

    <div class="col-md-4">
      <label>Team Name</label>
      <input [(ngModel)]="currentFilter.name" class="form-control" (keyup)="filter()" />
    </div>

    <div class="form-group col-md-4">
      <label>Country</label>
      <input [(ngModel)]="currentFilter.countryName" class="form-control" (keyup)="filter()" />
    </div>

    <div class="form-group col-md-1">
      <label>&nbsp;</label>
      <button class="form-control btn btn-link" (click)="clearFilters(); $event.stopPropagation()">Clear</button>
    </div>

    <div class="col-md-3">
      <div class="pull-right">
        <a href="#" routerLink="/teams/create/" class="btn btn-success" role="button">
          <i class="fa fa-plus-circle"></i>&nbsp; Create
        </a>
      </div>
    </div>

</div>


<div class="row" *ngIf="teamPage">

  <div class="col-md-12">

  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Country</th>
      <th class="text-center">Opponents</th>
      <th class="options text-center">Options</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let team of teamPage.list">
      <td>
          <cmp-team-favorite [team]="team"></cmp-team-favorite>
        {{ team.name }}
      </td>

      <td>{{ team.country.name }}</td>

      <td>{{ team.opponents | pluck: 'name' | join: ', ' }}</td>

      <td>

        <a href="#" [routerLink]="['/teams/detail/', team.id]" class="btn btn-default" role="button">
          <i class="fa fa-address-card-o"></i>
        </a>

        <a href="#" [routerLink]="['/teams/edit/', team.id]" class="btn btn-info" role="button">
          <i class="fa fa-edit"></i>
        </a>

        <button class="delete btn btn-danger"
                  (click)="delete(team); $event.stopPropagation()">
          <i class="fa fa-trash-o"></i>
        </button>

      </td>
    </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-md-6">
      Retrieved {{ teamPage.list.length }} of {{ teamPage.page.totalElements }}
    </div>

    <div class="col-md-6">

      <nav class="pull-right">
        <ul class="pagination">
          <li class="page-item" *ngIf="teamPage.links.previous">
            <a class="page-link" href="#" (click)="prevPage(); $event.stopPropagation(); $event.preventDefault()">&laquo;</a>
          </li>
          <li class="page-item disabled">
              <span class="page-link">Page {{ teamPage.page.number+1 }} of {{ teamPage.page.totalPages }}</span>
          </li>
          <li class="page-item" *ngIf="teamPage.links.next">
            <a class="page-link" href="#" (click)="nextPage(); $event.stopPropagation(); $event.preventDefault()">&raquo; </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  </div>
</div>

