/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap.scss';

.detail-view {
  border: 1px solid darkgray;
  background-color: #F9F9F9;
  border-radius: 10px;
  padding: 20px;
}
